.ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }
.ftco-faqs .img {
  height: 450px;
  -webkit-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.12); }
  .ftco-faqs .img.img-2 {
    height: 250px; }

.ftco-faqs .myaccordion {
  margin: 0 auto;
  overflow: hidden; }

.ftco-faqs .myaccordion .card,
.ftco-faqs .myaccordion .card:last-child .card-header {
  border: none;
  background: transparent; }

.ftco-faqs .myaccordion .card-header {
  border: none;
  background: transparent; }
  .ftco-faqs .myaccordion .card-header p {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: left; }

.ftco-faqs .myaccordion .fa {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3); }

.ftco-faqs .myaccordion .btn {
  width: 100%;
  font-weight: 600;
  color: black;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 0;
  border-radius: 0 !important;
  margin-bottom: 10px;
  border-radius: 40px !important;
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
  -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important; }

.ftco-faqs .myaccordion .btn-link:hover,
.ftco-faqs .myaccordion .btn-link:focus {
  text-decoration: none; }

.ftco-faqs [data-toggle="collapse"] .fa:before {
  content: "\f068";
  font-family: "FontAwesome";
  font-style: normal; }

.ftco-faqs [data-toggle="collapse"].collapsed .fa:before {
  content: "\f067";
  font-family: "FontAwesome";
  font-style: normal; }

.ftco-faqs button[aria-expanded="true"] {
  background-color: #007FE5;
  color: #fff !important; }
  .ftco-faqs button[aria-expanded="true"] .fa {
    color: #fff !important; }

.ftco-faqs button[aria-expanded="false"] {
  background-color: #fff; }

.ftco-faqs .card-body {
  background: #fff;
  margin-bottom: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
  -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important; }
  .ftco-faqs .card-body ol li {
    margin-bottom: 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.8); }
    .ftco-faqs .card-body ol li:last-child {
      margin-bottom: 0; }
.order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
.heading-section .subheading {
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #00bd56;
  text-transform: uppercase;
  letter-spacing: 2px; }

.heading-section h2 {
  font-size: 30px;
  font-weight: 800; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: #000000; }

.heading-section.heading-section-white h2 {
  color: #000000; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }

.ftco-faqs .myaccordion {
  margin: 0 auto;
  overflow: hidden; }

.ftco-faqs .myaccordion .card,
.ftco-faqs .myaccordion .card:last-child .card-header {
  border: none;
  background: transparent; }

.ftco-faqs .myaccordion .card-header {
  border: none;
  background: transparent; }
  .ftco-faqs .myaccordion .card-header p {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: left; }

.ftco-faqs .myaccordion .fa {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3); }

.ftco-faqs .myaccordion .btn {
  width: 100%;
  font-weight: 600;
  color: black;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 0;
  border-radius: 0 !important;
  margin-bottom: 10px;
  border-radius: 40px !important;
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
  -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important; }

.ftco-faqs .myaccordion .btn-link:hover,
.ftco-faqs .myaccordion .btn-link:focus {
  text-decoration: none; }