/*
	Project Name :
	Author Company : SpecThemes
	Project Date: 25 Mar, 2020
	Template Developer: vsafaryan50@gmail.com
*/
/*
==============================================
TABLE OF CONTENT
==============================================

0. Imports
1. Headings
2. Header
3. Hero
4. Brends
5. Software
6. Counts
7. About us
8. Start tabs
9. Demo
10. Pricing
11. We work
12. Reviews
13. News
14. Footer

==============================================
[END] TABLE OF CONTENT
==============================================
*/
/*-----------------------------------------
0. Imports
-------------------------------------------*/
/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900,900i&amp;display=swap');
/*Default Styles*/
@import url("default.css");

/*-----------------------------------------
1. Headings
-------------------------------------------*/
.h-6-btn-1 {
  padding: 16px 43px;
  background: #0067da;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF !important;
}

.h-6-btn-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #0067da;
  border: 1px solid #0067da;
  border-radius: 5px;
  padding: 16px 35px;
}

.h-6-subtitle {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #0067da;
  margin-left: 50px;
}

.h-6-subtitle:before {
  content: "";
  width: 28px;
  height: 3px;
  background-color: #0067da;
  position: absolute;
  left: -50px;
  top: 7px;
}

.h-6-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #222;
}

.h-6-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8A97A5;
}

/*-----------------------------------------
2. Header
-------------------------------------------*/
header {
  transition: all 1s;
  width: 100%;
  z-index: 10;
}

nav {
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 80px;
}

.logo {
  width: 15%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

@media screen and (max-width: 1300px) {
  .nav-links {
    width: 85%;
  }
}

.nav-links a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #000;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 80px;
    height: calc(100vh - 120px);
    height: -moz-calc(100vh - 120px);
    height: -webkit-calc(100vh - 80px);
    width: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: space-around;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  nav {
    justify-content: space-between;
  }
}

.nav-active {
  transform: translateX(0%);
  background-color: #fff;
}

.fixedColor div nav {
  height: 80px;
  transition: all 0.5s;
}

.fixedColor {
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.90);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.linkbtn {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 8px 20px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(205, 192, 192, 1);
}

.item-active-nav {
  position: relative;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 19px;
  color: #222 !important;
}

.item-active-nav:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #0067da;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.free-btn {
  padding: 16px 43px;
  background: #0067da;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF !important;
}

/*-----------------------------------------
3. Hero
-------------------------------------------*/
#hero {
  padding: 120px 0;
}

.h-6-hero-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #222;
}

.h-6-hero-title span {
  font-weight: 500;
  color: #0067da;
}

.h-6-hero-info {
  margin-top: 60px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.6;
  color: #000000c7;
}

.h-6-hero-topik {
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: rgba(0, 44, 91, 0.32);
}

.hero-image {
  text-align: right;
}

.hero-image img {
  width: 75%;
}

.scroll {
  z-index: 1;
  text-align: center;
  color: #fff;
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  animation: arrownim 2s ease;
  animation-iteration-count: infinite;
  position: relative;
  left: 45%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.scroll p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.2);
}

@keyframes arrownim {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0.8;
    transform: translateY(20px);
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    text-align: center;
  }
  .hero-image img {
    width: 100%;
  }
  #hero {
    padding: 20px 0;
    text-align: center;
  }
}

/*-----------------------------------------
4. Brends
-------------------------------------------*/
.brends-item img {
  width: auto !important;
  display: initial !important;
}

.owl-item {
  opacity: 0.5;
  transition: all 1s;
}

.owl-item:hover {
  opacity: 1;
  transition: all 1s;
}

/*-----------------------------------------
5. Software
-------------------------------------------*/
.softwar-img {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .softwar-img {
    text-align: center;
  }
}

/*-----------------------------------------
6. Counts
-------------------------------------------*/
#count {
  padding: 50px 0;
}

.count-item h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.count-item h3 i {
  color: #0067da;
}

.count-item p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(0, 44, 91, 0.3);
}
@media screen and (max-width: 768px) {
  .count-item{
    margin-bottom: 30px;
  }
}
/*-----------------------------------------
7. About us
-------------------------------------------*/
#about {
  padding: 80px 0;
  background: #f4faff;
}

@media screen and (max-width: 768px) {
  .about-info {
    margin-top: 40px;
  }
}

/*-----------------------------------------
8. Start tabs
-------------------------------------------*/
#start-tabs {
  padding: 80px 0;
}

.start-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #222;
}

.start-title span {
  color: #0067da;
}

.start-sub {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8A97A5;
}

.tab-icon {
  background: #FFFFFF;
  border: 1px solid #0067da;
  width: 136px;
  height: 134px;
  box-shadow: 0px 8px 10px rgba(247, 247, 247, 0.79);
  border-radius: 30px;
}

.tab-icon i {
  opacity: 0.2;
  color: #0067da;
  font-size: 45px;
}

.active-tab-box i {
  opacity: 1;
}

.tabs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs-box {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.tab-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-item h3 {
  margin-top: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  margin-bottom: 35px;
}

.tabs-item p {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #8A97A5;
}

.bar {
  width: 11px;
  height: 11px;
  background-color: #DEF5FD;
  border-radius: 50%;
  z-index: 2;
}

.tabs-box {
  position: relative;
}

.tabs-box:after {
  content: "";
  background-color: #DEF5FD;
  height: 1px;
  position: absolute;
  top: 222px;
  max-width: 100%;
  width: 100%;
  left: -50%;
  z-index: 1;
}

.tabs-box:before {
  content: "";
  background-color: #DEF5FD;
  height: 1px;
  position: absolute;
  top: 222px;
  max-width: 100%;
  width: 50%;
  right: 0%;
  z-index: 1;
}

.active-tab-box:after {
  background-color: #0067da;
}

.tabs-box-first.active-tab-box:after,
.tabs-box-first.active-tab-box:before {
  background-color: #0067da;
}
.active-tab-box .bar {
  background-color: #0067da;
}

/*-----------------------------------------
9. Demo
-------------------------------------------*/
#demo {
  padding: 100px 0 50px 0;
  background: -webkit-linear-gradient(bottom, #DEF5FD, #DEF5FD), #DEF5FD;
  background: -o-linear-gradient(bottom, #DEF5FD, #DEF5FD), #DEF5FD;
  background: linear-gradient(to top, #DEF5FD, #DEF5FD), #DEF5FD;
}

.demo-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.demo-title span {
  color: #0067da;
  font-weight: 500;
}

.demo-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8A97A5;
}

.input-send {
  width: 100%;
}

.email-input {
  border: 0 !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 80px;
  background: #fff;
  color: rgba(138, 151, 165, 0.3);
  height: 54px;
}

.email-input:focus {
  border: 0 !important;
  background: #F6F7F9;
  color: #000 !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: none !important;
}

.email-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(138, 151, 165, 0.3);
}

.email-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(138, 151, 165, 0.3);
}

.email-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(138, 151, 165, 0.3);
}

footer .email-input {
  background: #F6F7F9;
}

button.send-email {
  background: #0067da;
  font-style: normal;
  font-weight: 500;
  font-size: 15.4286px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 29px;
  border-radius: 50px;
  position: absolute;
  right: -15px;
  z-index: 3;
}

/*-----------------------------------------
10. Pricing
-------------------------------------------*/
#pricing {
  padding: 80px 0 0 0;
  background-image: url("../img/content/h-6-pricing.png");
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: contain;
}

.piricing-info h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #222;
  text-align: center;
}

.piricing-info p {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #8A97A5;
}

.pricing-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(221, 215, 215, 0.12);
  border-radius: 5px;
  height: 490px;
  margin-bottom: 50px;
  padding: 0 85px;
}

.priceing-cheked {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(221, 215, 215, 0.12);
  border-radius: 5px;
}

.checked-border:before,
.checked-border:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 35%;
}

.checked-border:before {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #0067da;
  border-left: 1px solid #0067da;
  border-bottom-left-radius: 15px;
}

.checked-border:after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #0067da;
  border-right: 1px solid #0067da;
  border-bottom-right-radius: 15px;
}

.priceing-cheked:before,
.priceing-cheked:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 35%;
}

.priceing-cheked:before {
  top: 0;
  left: 0;
  border-top: 1px solid #0067da;
  border-left: 1px solid #0067da;
  border-top-left-radius: 15px;
}

.priceing-cheked:after {
  top: 0;
  right: 0;
  border-top: 1px solid #0067da;
  border-right: 1px solid #0067da;
  border-top-right-radius: 15px;
}

.pricing-plan {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.pricing-amout {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  position: relative;
  top: -50px;
}

.amout {
  font-style: normal;
  font-weight: 500;
  font-size: 92px;
  line-height: 138px;
  text-align: center;
  color: #000000;
  position: relative;
  top: 50px;
}

.pricing-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.listbox {
  height: 165px;
  max-height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
}

.pricing-item-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.pricing-item-list li {
  margin-bottom: 10px;
}

.pricing-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #0067da;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.checked-btn {
  bottom: 30px;
}

.list-chek i {
  color: #6BD3EA;
  margin-right: 10px;
}

.list-unchek i {
  color: #222;
  margin-right: 13px;
}

.pricing-item.bussines {
  height: 580px;
  position: relative;
  top: -50%;
  transform: translateY(50%);
  padding: 0;
  box-shadow: 4px 4px 20px rgba(194, 184, 184, 0.25);
}

.bussines .pricing-amout {
  top: -30px;
}

.info-pr {
  padding: 25px 85px 0;
}

.bus {
  background: #0067da;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 1px;
}

.bus p {
  color: #fff !important;
}
@media only screen and (max-width: 400px) {
  .pricing-item, .pricing-item.bussines {
    padding: 0 25px;
  }
  .info-pr {
    padding: 10px 15px 0;
  }
}
/*-----------------------------------------
11. We work
-------------------------------------------*/
#we-work {
  padding: 80px 0;
}

.we-work-list li {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.we-work-list li i {
  font-size: 22px;
  position: relative;
  top: 3px;
  color: #222;
  margin-right: 10px;
}

/*-----------------------------------------
12. Reviews
-------------------------------------------*/
.h-6-title span {
  color: #0067da;
}

.rev-item img {
  width: auto !important;
  display: initial !important;
}

.rev-item {
  padding: 0 35px;
  background-color: #fff;
  box-shadow: 2px 1px 25px 5px rgba(166, 166, 166, .2);
  border-radius: 5px;
  margin-top: 45px;
}

.rev-item p {
  font-size: 14px;
}

.hed-rev {
  display: flex;
}

.feed-stars {
  margin-left: 15px;
}

.feed-stars .ratings {
  text-align: left;
}

.feed-stars .ratings i {
  color: #0067da;
  font-size: 12px;
}

.author {
  font-style: normal;
  font-weight: 300;
  font-size: 11.9821px;
  line-height: 18px;
  color: #000000;
  margin-top: 5px;
}

.author span {
  font-weight: 500;
}

.rev-name {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.rev-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 50px;
}

.feed-img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/*-----------------------------------------
13. News
-------------------------------------------*/
#news {
  background: linear-gradient(90.33deg, #EEF9FF 0.09%, rgba(238, 249, 255, 0) 100.6%);
  padding: 80px 0;
}

.blog-item {
  margin-bottom: 30px;
}

.blog-info img {
  position: absolute;
  left: 65%;
}

.post-img {
  border-radius: 0px 0px 19.8239px 19.8239px;
  width: 100%;
}

.blog-category {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.blog-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.blog-title a{
  color: #000000;
}
.blog-item-info {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  height: 50%;
}

.author-box {
  display: flex;
  justify-content: space-between;
}

.date {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 992px) {

  .blog-info img{
    position: absolute;
    left: 10%;
  }

}
@media only screen and (max-width: 767px) {

  .blog-info img{
    display: none;
  }
  .blog-item-info {
    height: 25%;
  }

  .blog-mr {
    margin-top: 50px;
  }
}



/*-----------------------------------------
14. Footer
-------------------------------------------*/
footer {
  background-image: url("../img/content/h-6-footer.png");
  background-color: transparent;
  background-position: bottom;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 20px;
}

.subscribe h3 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.foot-col h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0067da;
  margin-bottom: 30px;
}

.foot-col ul li {
  margin-bottom: 20px;
}

.foot-col-1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #222;
}

.foot-col-1 a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #0067da;
  float: right;
}

.foot-col ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #222;
}

.foot-col-3, .foot-col-4 {
  padding-left: 50px;
}

.new {
  padding: 5px 10px;
  background: #fff;
  border-radius: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  color: #0067da;
  margin-left: 10px;
}

.copyr p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}

.termlist {
  display: flex;
  justify-content: space-around;
}

.termlist li a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 44, 91, 0.53);
}

@media screen and (max-width: 992px) {
  footer {
    padding-top: 60px;
    text-align: center;
  }

  .foot-col-3, .foot-col-4 {
    padding-left: 0px;
  }

  .foot-col-1 a {
    float: none;
  }

  .foot-col {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .input-send {
    width: 95%;
  }
  button.send-email {
    right: -25px;
  }
  .copyr p {
    text-align: center;
  }
}
